<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
    {{ backLink({
        text: 'Go back',
        href: 'javascript:history.back();'
    }) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/v7/confirmation-post" class="form" >
        <div class="content">
          <h1 class="nhsuk-heading-l" id="title">Check your answers</h1>
          <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
              <dt id="mother-int-date" class="nhsuk-summary-list__key">Last appointment with the mother</dt>
              <dd class="nhsuk-summary-list__value" id="int-date"> 27 January 2024  </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="/v7/mother-present#contact-2" id="intdate-change"
                  aria-label="Change date you met the mother">Change</a>
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt id="mother-name" class="nhsuk-summary-list__key">Mother's name</dt>
              <dd class="nhsuk-summary-list__value" id="name">Jo Bloggs</dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="/v7/application-details#first-name" id="name-change" aria-label="Change mother's name">Change</a>
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt id="mother-dob" class="nhsuk-summary-list__key">Mother's date of birth</dt>
              <dd class="nhsuk-summary-list__value" id="moth-dob">10 October 1996</dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="/v7/application-details#dob" id="dob-change" aria-label="Change mother's date of birth">Change</a>
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt id="mother-nhs" class="nhsuk-summary-list__key">Mother's NHS number</dt>
              <dd class="nhsuk-summary-list__value" id="nhs-no">1234567890</dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="/v7/application-details#nhs-no" id="nhs-change" aria-label="Change mother's NHS number">Change</a>
              </dd>
            </div>
            
            <div class="nhsuk-summary-list__row">
              <dt id="mother-postcode" class="nhsuk-summary-list__key">Mother's postcode</dt>
              <dd class="nhsuk-summary-list__value" id="postcode">NE1 0LD</dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="/v7/application-details#postcode" id="nhs-change" aria-label="Change mother's postcode">Change</a>
              </dd>
            </div>
            
            <div class="nhsuk-summary-list__row">
              <dt id="mother-due-date" class="nhsuk-summary-list__key">Due date or baby's birth date</dt>
              <dd class="nhsuk-summary-list__value" id="baby-dob">25 September 2024</dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="/v7/application-details#baby-dob" id="duedate-change" aria-label="Change due or birth date">Change</a>
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt id="details-by-email" class="nhsuk-summary-list__key">Certificate to be sent by</dt>
              <dd class="nhsuk-summary-list__value" id="details-email">Post</dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="/v7/certificate-email-or-post#example-contact-by-email" id="details-change" aria-label="Change get details by email">Change</a>
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt id="mother-email-address" class="nhsuk-summary-list__key">Mother's address</dt>
              <dd class="nhsuk-summary-list__value" id="email-add">101 Test Avenue<br>
                Test Town<br>
                NE1 0LD<br>
                </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="/v7/postcode" id="address-change" aria-label="Change mother's address">Change</a>
              </dd>
            </div>
          </dl>
        </div>
        <div class="nhsuk-warning-callout">
          <span role="text">
            <h2 class="nhsuk-warning-callout__label">Declaration</h2>
          </span>
          <div class="notice" id="new-route-dec">
            <i class="declaration-icon icon icon-important"><span class="nhsuk-u-visually-hidden">Warning</span></i>
            <p th:object="${applicationData}" class="declaration">I confirm that this information is correct and true in accordance with the mother's records on 
            29 February 2024.<br /><br />
              I confirm that the mother:
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li class="declaration-list">has given their permission for this application to be submitted on their behalf
              </li>
              <li class="declaration-list">knows the information submitted will be used by the NHS Business Services Authority and shared other organisations working on their behalf where necessary</li>
              <li class="declaration-list">understands their data will not be transferred outside the UK or the European Economic Area and will be deleted within 24 months of the expiry date of the exemption</li>
            </ul>
            </p>
            <p>I understand that when I press submit, I am submitting an application on behalf of the named person.</p>
          </div>
        </div>
        <button class="nhsuk-button" id="next-button" type="submit">Submit</button>
      </form>
    </div>  
  </div>
{% endblock %}
